/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: theme("fontFamily.sans");
  background-color: rgb(15 23 42); /* slate-900 */
  color: rgb(226 232 240); /* slate-200 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

